<html lang="ch" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{css/blue.css}" rel="stylesheet">
    <link th:href="@{css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{css/site.css}" rel="stylesheet">
    <link th:href="@{css/bootstrap-responsive.css}" rel="stylesheet">
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">后台管理系统</a>
            <div class="btn-group pull-right">
                

                <a class="btn" th:href="|profile?id=${session.user.id}|"><i class="icon-user"></i>
                    <span th:text="${session.user.name}">null</span>
                    <span th:if="${session.user.grade==1}">管理员</span>
                    <span th:if="${session.user.grade>1}">高级管理员</span>
                </a>
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a th:href="|profile?id=${session.user.id}|">个人资料</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript:exit()">退出</a></li>
                </ul>
            </div>
            <div class="nav-collapse">
                <ul class="nav">
                    <li><a href="index">首页</a> </li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">用户 <b
                            class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="adduser">新建用户</a></li>
                            <li class="divider"></li>
                            <li><a href="users">管理用户</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">书籍 <b
                            class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="addbook">添加书籍</a></li>
                            <li class="divider"></li>
                            <li><a href="books">管理书籍</a></li>
                        </ul>
                    </li>
                    <li><a href="ConservatorIndex">统计</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header"><i class="icon-wrench"></i> 管理</li>
                    <li><a href="users">用户</a></li>
                    <li><a href="books">书籍</a></li>
                    <li class="nav-header"><i class="icon-signal"></i> 统计</li>
                    <li><a href="visitor_stats">访问者</a></li>
                    <li class="nav——header"><i class="icon-user"></i> 资料</li>
                    <li><a th:href="|profile?id=${session.user.id}|">我的资料</a></li>
                    <li><a href="javascript:exit()">退出</a></li>
                </ul>
            </div>
        </div>

        <div class="row" id="importcontext">
            <div class="page-header">
                <h1>网站统计</h1>
            </div>
            <div id="consumption" class="col-md-1">
                <h3>今日进账</h3>
                <i class="icon-shopping-cart"></i>
                <span style="font-size: 22px;" th:text="|${data.sumconsumption}|"></span>
            </div>
            <br/>
            <div id="visits" class="col-md-5 ">
                <h3>主页浏览量</h3>
                <i class="icon-signal"></i>
                <span style="font-size: 22px;" th:text="${data.sumloginNumbers}">300</span>
            </div>
        </div>
    </div>
    <footer class="well">
        <a href="mail.qq.com">author：zoolooto</a>
        <br/>
        <a>emall：zoolooto@qq.com</a>
    </footer>
    <script th:src="@{js/jquery.js}" type="text/javascript"></script>
    <script th:src="@{js/jquery.flot.js}" type="text/javascript"></script>
    <script th:src="@{js/jquery.flot.resize.js}" type="text/javascript"></script>
    <script th:src="@{js/bootstrap.min.js}" type="text/javascript"></script>

</div>
<script>
    function exit(){
        location.href="login";
    }
</script>
</body>
</html>